###> symfony/framework-bundle ###
APP_ENV=prod
APP_DEBUG=0
APP_SECRET=change_this_to_a_random_secret_string
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=ovalo-db
MYSQL_USER=ovalo-user
MYSQL_PASSWORD=change_me
MYSQL_HOST=db
MYSQL_PORT=3306
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost:8000
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}?serverVersion=8.0.32&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###
